/Users/asheth/Library/CloudStorage/OneDrive-iCapitalNetwork/Git/AssetClasses/appscripts/.git/objects/pack/pack-978f870a94c3c133a971c91b0f7e303d0cfa1a1f.pack
/Users/asheth/Library/CloudStorage/OneDrive-iCapitalNetwork/Git/FactorPrediction/FactorTimingHaddad/data/FT_portfolio_assignments-05FEB2020/assignments10.csv
*.large_extension
